# Ignore everything sensitive / big
.git/
**/git
.github/
.idea/
.vscode/
.code/

node_modules/
**/node_modules

dist/
**/dist

.volume/
old_refs/
old_files/
docs/

*.backup
*.pem
*.key
*.crt
*.p12
*.pfx

# Ignore all env files by default
.env
**/.env

.env.*
**/.env.*

.env*
**/.env*

# IDE/editor junk
.release
PULL_NOTE.md
*.txt
*.md
*.log
