{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": false,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react$",
    "^next$",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^[./]"
  ],
  "tailwindStylesheet": "src/app/index.css",
  "tailwindFunctions": ["cn", "cva"],
  "tailwindPreserveWhitespace": true
}
